<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../static/CSS/styles.css" />
        <title>Gimmy</title>
   </head>
   <body>
      <div class="center">
         <p style="color: white">This is Gimmy, He is a Chatbot that created by rivescript and python for the backend </p>
         <form action="/callChat" >
         <h3>To chat with Gimmy</h3>
         <button id="myButtonChat" value="Submit">chat</button>
         </form>
         <form action="/callTalk">
         <h3>To talk with Gimmy</h3>
         <button id="myButtonTalk" type="submit" value="Submit">talk</button>
         </form>
      </div>
      <div class="footer">
            <div class="row">
                  <div class="column"><h2 style="color: rgb(51, 255, 0) ; margin: 0px;">GimmyBot</h2></div>
                  <div class="column"><br> CreatedBy: Hazem Ahmed <br> Gmail: hazeemahmed22@gmail.com <br> Github Code: <a href="https://github.com/Hazemcodes/gimmybot">Click Here</a></div>
                  <div class="column" style="text-align: center;"> <br> <a style="color: black" href="/" class="previous round ">&laquo;</a></div>
                </div>
      </div>
   </body>
</html>